*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
}
body{
  font-family: "Outfit", sans-serif;
}
main{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
  background: #D5E1EF;
}
main .box{
  position: relative;
  width: 320px;
  height: 502px;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
}
main .box .entire{
  position: relative;
  top:20px;
}
main .box .imgbx{
  position: relative;
  width: 288px;
  height: 288px;
}
main .box .imgbx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
main .content{
  position: relative;
  text-align: center;
  width: 288px;
  height: 131px;
}
main h2{
  height: 52px;
  margin: 16px 0px;
  font-size: 1.4rem;
  font-weight: 700;
}
main p{
  width: 256px;
  height: 63px;
  margin: 0 auto;
  font-size: 0.9rem;
}
footer{ 
    font-size: 0.7rem;
    text-align: center; 
}
footer a {
     color: hsl(228, 45%, 44%);
}
